@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html,
body {
  overscroll-behavior-x: none;
}

.grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-auto-rows: auto;
  justify-content: center;
}

.grid-container-mini {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, 128px);
  grid-auto-rows: auto;
  justify-content: center;
}

/* .dropArea {
  position: relative;
}

.dropArea::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
} */

@layer components {
  .btn {
    @apply shadow-none;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
